<template>
  <container class="about-container">
    <b-navbar variant="faded" type="light">
      <b-navbar-brand href="/">
        <img src="/img/logo-transparent.png" alt="Logo" class="logo-img" />
      </b-navbar-brand>
    </b-navbar>
    <div class="row-info">
      <div class="info text-center">
        <div class="body">
          Разработка
          <br />
          <span class="element"></span>
          <br />
          различной сложности
        </div>
      </div>
    </div>
  </container>
</template>

<script>
import Typed from 'typed.js';

export default {
  data() {
    return {
      strings: ['интернет-магазинов', 'корпоративных сайтов', 'веб-сервисов', 'lendingов'],
      stringIndex: null
    };
  },
  watch: {
    stringIndex() {
      console.log(this.stringIndex);
      // TODO: добавить сюда текст при смене главного слова, пока хз что сбда добавлять
    }
  },
  mounted() {
    const typed = new Typed('.element', {
      strings: this.strings,
      typeSpeed: 70,
      backDelay: 5000,
      loop: true,
      onStringTyped: (pos, self) => {
        this.stringIndex = pos;
      }
    });
  }
};
</script>

<style lang="scss">
.about-container {
  background: url('/img/background.svg') no-repeat;
  background-size: 100%;
  height: 100vh;
  width: 100%;
  display: block;

  .logo-img {
    height: 36px;
  }

  .row-info {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;

    .info {
      display: block;
      width: 600px;

      .header {
        font-size: 26px;
        font-weight: 900;
      }

      .body {
        font-size: 16px;
        font-weight: bold;
        color: #525050;
      }

      .element {
        font-family: monospace;
        color: coral;
      }
    }
  }
}
</style>
