<template>
  <div>
    <About />
  </div>
</template>

<script>
import About from '~/components/sections/about/index.vue';

export default {
  components: {
    About
  }
};
</script>

<style>
* {
  font-family: Lato;
}
</style>
